@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #BC6C25   ;
    --secondary-color: #FEFAE0 ;
    --accent1-color: #606C38;
    --accent2-color: #DDA15E;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Sigmar";
    --paragraph-font: Roboto Condensed, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h h1 h2 h3 h4 h5 h6 {
    font-family: var(--heading-font);
  }

  p {
    font-family: var(--paragraph-font);
  }


header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px var(--accent1-color);
}

footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 5px var(--accent1-color);
}

nav {
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 15px;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
    border-radius: 10px;
    border: solid 5px var(--accent1-color);
}

.navbar a:hover {
    color: white;
    background: var(--accent1-color);
    border: solid 5px var(--accent2-color);
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 100px;
    justify-content: space-between;
    width: 100%;
    
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 100px;
    border: solid 5px var(--accent1-color);
}

.logo-div {
    padding: 10px;
}

/* Header and footer css */

p {
    padding: 15px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.background img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

#intro {
    position: relative;
    z-index: 1;
    color: black;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#intro img {
    width: 400px;
    height: auto;
    border: solid 10px var(--accent1-color);
}

#intro h1, h2 {
    font-family: var(--heading-font);
}

#intro p {
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    border: solid 5px var(--accent1-color);
    margin-bottom: 20px;
    font-family: var(--paragraph-font);
    transition: box-shadow 0.3s ease;
}

#intro p:hover {
    box-shadow: 0 10px 20px var(--accent1-color)
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    gap: 20px;
    
}

.job-description {
    
    background-color: var(--secondary-color);
    border: solid 5px var(--accent1-color);
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.job-description:hover {
    box-shadow: 0 10px 20px var(--accent1-color)
}

.job-description img {
    height: 350px;
    width: 100%;
    border: solid 5px var(--accent2-color);
}

.job-description h1 {
    font-family: var(--heading-font);
    font-size: 0.95em;
}

.job-description p {
    margin-bottom: 5px;
    border: double 5px var(--primary-color);
    font-family: var(--paragraph-font);
}

.job-description:nth-child(1) {
    grid-column: 1; /* Places the first item in the first column */

}

.job-description:nth-child(2) {
    grid-column: 2; /* Places the second item in the second column */
}

.job-description:nth-child(3) {
    grid-column: 3; /* Places the third item in the third column */
}


/* Second Page */

#coverletter {
    background-color: var(--secondary-color);
    
    
}

#coverletter h1 {
    text-align: center;
    margin: 0 auto;
    width: 250px;
    margin-top: 20px;
    border: solid 5px var(--accent1-color);
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

#letter-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 300px 350px;
    border: solid 5px var(--accent1-color);
    background-color: var(--accent2-color);
    margin: 50px;
}

#letter-layout img {
    width: 250px;
}

#letter-layout {
    font-size: 1.2em;
}

#laptop {
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    margin-right: 10px;
    border: solid 5px var(--secondary-color);
}

#interview {
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    margin-right: 10px;
    border: solid 5px var(--secondary-color);
}

#paragraph1 {
    grid-row: 1/2;
    font-size: 1.5em;
}

#paragraph2 {
    grid-row: 2/3 ;
    font-size: 1.5em;
    grid-column: 1/3;
}

#paragraph3 {
    grid-row: 3/4;
    font-size: 1.5em;
}

#remark {
    font-size: 1.5em;
    
}

/* third page */

#me-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 600px 1fr;
}

#mehead h1 {
    grid-column: 1/3;
    grid-column: 1/2;
    text-align: center;
    margin-top: 15px;
}

#slideshow-container {
    grid-column: 2/3;
    grid-row: 1/2;
}

#me-container p {
    grid-column: 1/2;
    grid-row: 1/2;
}

#me-container {
    justify-items: center;
    align-items: center;
}

#component {
    margin: 15px;
}

#me-container p {
    font-size: 1.5em;
    line-height: 2;
}

#form {
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 15px;
    border: solid 5px var(--accent1-color);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);

}

#contacts {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 100px;
}

.social-link {
    display: flex;
    flex-direction: column;
}

.social-link img:hover {
    box-shadow: 0 10px 20px var(--accent1-color)

}

#contacts img {
    width: 150px;
    height: auto;
    border: solid 5px var(--accent1-color);
    border-radius: 125px
}

label, input, textarea, button {
    display: block;
    width: 20rem; 

}

#content {
    border: 5px solid black;
    justify-items: center;
    width: 22rem;
    justify-self: center;
    padding: 1rem;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}


.slideimg {
    min-height: 450px;
    max-height: 450px;
}

* {box-sizing: border-box;}
body {
    font-family: Verdana, sans-serif;
    background-color: var(--secondary-color);
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  height: auto;
  position: relative;
  margin: auto;
  border: solid 5px #606C38  ;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow:  2px 2px 4px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow:  2px 2px 4px black;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #DDA15E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
    background-color:#BC6C25 ;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

#dot-container {
    width: 150px;
    border: solid 5px #606C38;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #FEFAE0;

}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

